@media (min-width: 911px) {
    .AppLeft {
        width: 460px;
    }
}

.AppLeft {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 460px;
    text-align: center;
    border: 5px #0592cd solid;
    border-radius: 20px;
    background-color: #282c34;
}

.display {
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 200px;
    color: white;
    border: 3px #0592cd solid;
    border-radius: 20px;
    background-color: #0592cd;
}

.buttons {
    box-sizing: border-box;
    width: 90%;
    height: 90px;
    border: 3px #0592cd solid;
    border-radius: 20px;
}
