.displayElement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.displayText {
    display: block;
    font-size: 24px;
    align-self:center;
}

.input {
    width: 100px;
}

.inputError {
    border: 3px red solid;
    background-color: #fc5f5f;
}
